<% include ./partials/header %>

<div class="container mt-5">
    <form class="my-auto" action="/" method="POST">
        <div class="form-group">
            <input type="text" class="form-control" name="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>


<% include ./partials/footer %>